services:
  db:
    image: postgres:18-alpine
    container_name: db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER:-pgtest}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-pgtest}
      - POSTGRES_DB=${DB_NAME:-pgtest}
    ports:
      - ${DB_PORT:-5432}:5432
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL:-pgtest@teste.com}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD:-pgtesT745!}
    ports:
      - ${PGADMIN_PORT:-8081}:80
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9005:9000"      # API
      - "9001:9001"      # Console Web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  mail:
    image: mailhog/mailhog:v1.0.1
    container_name: mail
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  db_data:
    driver: local
  pgadmin_data:
    driver: local
  minio_data:
    driver: local
